<link rel="stylesheet" href="/css/admin-reviews.css">

<div class="admin-content">
    <h2>Quản lý Bình luận</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Người dùng</th>
                <th>Sách</th>
                <th>Nội dung</th>
                <th>Đánh giá</th>
            </tr>
        </thead>
        <tbody>
            {{#each reviews}}
            <tr>
                <td>{{this.name}}</td>
                <td>{{this.book_title}}</td>
                <td>{{this.comment}}</td>
                <td>{{this.rating}} ⭐</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>